.DS_Store

# IDE files (PyCharm/IntelliJ IDEA)
.idea/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment variables
.env
.env.local
.env.production
.env.production.local
.DS_Store
